.logo {
  
   font-family: "'Montserrat', sans-serif";
   font-size: 30px;
   font-style: normal;
   font-weight: 900;
   line-height: 160%; /* 48px */
   letter-spacing: -0.6px;
   color:#0A1B32;
   margin-top: 37px;
   margin-left: 80px;
}

.logo-dot {
  color: olivedrab;
}

.main-heading {
    margin-top: 281px;
    margin-left: 200px;
    color: #1B0A42;
    font-family: "Ramaraja", serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 76px; /* 105.556% */
    letter-spacing: 1.44px;
    max-width: 495px;
    width: 100%;

}

.content-info{
    max-width: 538px;
    width: 100%;
    margin-top: 10px;
    margin-left: 200px;
    color: #9A9A9A;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal; 
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.4px;
}

.main-btn {
    width: 152px;
    height: 63px;
    border-radius: 6px;
    background: #4F56F1;
    margin-top: 50px ;
    margin-left:200px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 200% */
    letter-spacing: 0.32px;
    border: none;
}